		.nome{
			font-weight: bold;
			font-size: 20px;
			text-align: center; 
		}

		.materia{

			font-size: 16px;
			text-align: center;
			font-weight: bold;
		}

		header{
      			background: -webkit-gradient(linear, left top, right top, from(#bac4eb), to(#0733d6)) no-repeat;
      			background: -moz-linear-gradient(left, #505569, #031c7a);
     			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#bac4eb', EndColorStr='#0733d6');            
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
		}

		#Programacao{
			background-color: #ffc2ea;
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			max-width: 95%;
		}

		#Games{
			background-color: yellow;  
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			max-width: 95%;
		}

		#Analise{
			background-color: red;
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			max-width: 95%;
		}

		footer{
			background-color: #a7f1f5fc;
			width: 100%;
        		color: black;
			position: absolut;
		}
